<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,248},{160,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{160,242}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{132,242}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{132,242}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{180,228}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,72},{180,228}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{196,278}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{196,278}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,240},{140,230}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{140,230}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,750},{188,226}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,73},{188,226}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,718},{176,228}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,71},{176,228}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{190,252}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{190,252}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,256},{158,252}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{158,252}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,246},{148,236}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{148,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,504},{146,244}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,56},{146,244}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,254},{170,248}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{170,248}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,484},{154,232}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,67},{154,232}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{140,236}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{140,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{182,244}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{182,244}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,584},{174,254}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{174,254}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,264},{196,252}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,47},{196,252}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{192,250}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{192,250}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{150,256}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{150,256}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,518},{178,252}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{178,252}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,510},{158,250}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{158,250}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,772},{154,202}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,98},{154,202}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,472},{162,226}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,74},{162,226}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{166,260}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{166,260}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,492},{164,236}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,64},{164,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,730},{162,232}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{162,232}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,762},{160,196}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,104},{160,196}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>红1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,731},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>红2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,596},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>红3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,758},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>红4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,461},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>红5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,326},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>红6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>红7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,191},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,191},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,380},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,569},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,799},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>绿7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,191},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,380},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,610},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,799},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,2},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,191},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,421},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>蓝7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,610},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,232},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,421},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,700},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,232},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,840},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
            <key>黄7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{133,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,187}}</string>
                <key>sourceSize</key>
                <string>{133,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chareaters avatar.png</string>
            <key>size</key>
            <string>{2048,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d1ae23491a5539a88947d5526c1cf4b$</string>
            <key>textureFileName</key>
            <string>chareaters avatar.png</string>
        </dict>
    </dict>
</plist>
