<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,830},{74,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,111}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,759},{69,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,116}}</string>
                <key>sourceSize</key>
                <string>{69,116}</string>
            </dict>
            <key>3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,349},{220,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,275}}</string>
                <key>sourceSize</key>
                <string>{220,275}</string>
            </dict>
            <key>4.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,303},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,683},{139,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,242}}</string>
                <key>sourceSize</key>
                <string>{139,242}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{356,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,345}}</string>
                <key>sourceSize</key>
                <string>{356,345}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,349},{182,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,332}}</string>
                <key>sourceSize</key>
                <string>{182,332}</string>
            </dict>
            <key>gy（公用）-进入读条外条.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,626},{284,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,31}}</string>
                <key>sourceSize</key>
                <string>{284,31}</string>
            </dict>
            <key>gy（公用）-进入读条底图.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{284,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,31}}</string>
                <key>sourceSize</key>
                <string>{284,31}</string>
            </dict>
            <key>logo_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,626},{128,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>半透明低.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,750}}</string>
                <key>sourceSize</key>
                <string>{1,750}</string>
            </dict>
            <key>字1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{299,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,27}}</string>
                <key>sourceSize</key>
                <string>{299,27}</string>
            </dict>
            <key>微信登录.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,830},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>方块争霸logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,824},{150,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,85}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Loading.png</string>
            <key>size</key>
            <string>{419,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd831bb693d7661e3c29f8af56a16f51$</string>
            <key>textureFileName</key>
            <string>Loading.png</string>
        </dict>
    </dict>
</plist>
